---
layout: home
---

<div class="jumbotron">
    <div class="container">
        <div class="col-md-6">
            <p>Check out our <a href="#guides">User Guides</a> or If you can’t find an answer to your question here, ask it on <a href="https://groups.google.com/forum/#!forum/ona-community" target="_blank">Ona’s community forum</a>!</p>
        </div>
    </div>
</div>

<div class="container content">
    {% include search-box.html %}
    
    <div class="row" id="faqs">
        <div class="col-md-1-1 clearfix link-container">
            <h4 class="link-header">Common Questions</h4>
            <div class="col-md-12">
              <ul>
                {% for faqlist in site.categories.faq %}
                    <li><a href="{{ faqlist.permalink }}">{{ faqlist.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="col-md-1-1 clearfix links-container" style="display:none;">
          <h4 class="link-header">Topics</h4>
            
            <div class="col-md-6">
            {% for posts in site.categories.topics %}
                <h5>{{ posts.categories[1] }}</h5>
                <ul>
                {% for postlist in post.categories %}
                  {% if postlist.categories[1] == post.categories[1] %}
                    <li><a href="{{ postlist.permalink }}">{{ postlist.title }}</a></li>
                  {% endif %}
                {% endfor %}
                    <li><a href="#">link</a></li>
                </ul>
              
            {% endfor %}
            </div>
            
            <div class="col-md-6">
                <h5>Ona Website Usage</h5>
                <ul>
                {% for usagelist in page.categories.website-usage %}
                    <li><a href="{{ usagelist.permalink }}">{{ usagelist.title }}</a></li>
                {% endfor %}
                </ul>
                
                <h5>Onadata Information</h5>
                <ul>
                {% for odtinfolist in site.categories.onadata-info %}
                    <li><a href="{{ odtinfolist.permalink }}">{{ odtinfolist.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
        <div id="guides">
            <h4 class="link-header">User Guides</h4>
            <div class="container">
                <div class="col-md-3 guide-box">
                    <a href="/guides/getting-started">
                        <span><img src="/assets/img/get-started.png"></span>
                        <h4>New to Ona Guide</h4>
                        <span class="hidden">An Intro to Data Collection</span>
                    </a>
                </div>
            
                <div class="col-md-3 guide-box">
                    <a href="/guides/first-project">
                        <span><img src="/assets/img/first-project.png"></span>
                        <h4>Your First Project</h4>
                    </a>
                </div>
            
                <div class="col-md-3 guide-box">
                    <a href="/guides/forms">
                        <span><img src="/assets/img/forms.png"></span>
                        <h4>Forms</h4>
                    </a>
                </div>
            
                <div class="col-md-3 guide-box">
                    <a href="/guides/data-collection">
                        <span><img src="/assets/img/data-collection.png"></span>
                        <h4>Data Collection</h4>
                    </a>
                </div>
            
                <div class="col-md-3 guide-box">
                    <a href="/guides/projects">
                        <span><img src="/assets/img/projects.png"></span>
                        <h4>Projects</h4>
                    </a>
                </div>
            
                <div class="col-md-3 guide-box">
                    <a href="/guides/user-accounts">
                        <span><img src="/assets/img/user-accounts.png"></span>
                        <h4>User Accounts</h4>
                    </a>
                </div>
            
                <div class="col-md-3 guide-box">
                    <a href="/guides/organizations">
                        <span><img src="/assets/img/organizations.png"></span>
                        <h4>Organizations</h4>
                    </a>
                </div>
            
                <div class="col-md-3 guide-box">
                    <a href="/guides/onaapps">
                        <span><img src="/assets/img/ona-apps.png"></span>
                        <h4>OnaApps</h4>
                    </a>
                </div>
                <div class="col-md-3 guide-box hidden">
                    <a href="/guides/advanced-users">
                        <span class="glyphicon glyphicon-wrench"></span>
                        <h4>Advanced Users</h4>
                        <span>API Integration &amp; Hosting Options</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-1-1 clearfix email-form hidden">
            <div class="col-md-6">
                <h5>Still have a question?</h5>
                <p>
                    Haven't found the answer you were looking for? Email us at <br/>
                    <a href="mailto:support@ona.io">support@ona.io</a>
                </p>
            </div>

            <div class="col-md-6">
                <form class="" role="search" action="/">
                  <div class="form-group">
                      <label>Email adress</label>
                      <input type="text" class="form-control" name="email"/>
                  </div>
                  <div class="form-group">
                      <label>Subject</label>
                      <input type="text" class="form-control" name="subject"/>
                  </div>
                  <div class="form-group">
                      <label>Your question or problem.</label>
                      <textarea class="form-control" rows="3" name="Question"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">
                      <span class="glyphicon glyphicon-envelope"></span> Send to Support
                  </button>
                </form>
            </div>
        </div>
    </div>
</div>
