<header class="navbar navbar-inverse" role="navigation" id="helpnav">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <img src="/assets/img/onadata_logo.png" alt="Onadata Logo"/>
          </a>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#faqs">faqs</a></li>
              <li><a href="#guides">guides</a></li>
              <li><a href="#">tutorial</a></li>
              <li><a href="http://blog.ona.io/">blog</a></li>
              <li><a href="http://ona.io/accounts/register/">signup</a></li>
          </ul>
        </div>
    </div>
</header>