<div class="search-box row">
    <div class="col-md-12 search-text">
        <form method="get" action="https://www.google.com/search">
            <div class="input-group">
                <input type="hidden" name="sitesearch" value="http://help.ona.io/"/>
                <input name="q" class="form-control" placeholder="Type your question e.g. authoring XLSForms" type="text"/> 
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
        </form>
    </div>
    <!--    
	    <div class="col-md-1 s-divide s-pad">OR</div>
	    
	    <div class="col-md-2 s-pad pull-right">
		<a href="#">Ask the Team</a>
	    </div>
    -->
</div>
