*{
    box-sizing:border-box!important;
    margin:0;padding:0;
}
body{
    font:14px 'Open Sans'!important;
    line-height:1.5em!important;
}
ul li{
    list-style:none!important;
}
ul li ul{
    margin-left:1em;
}
.form-control{
    border-radius:0;
    padding:0.5em!important;
}
.btn{
    border-radius:0;
}
#helpnav, .jumbotron{
    background:#50B0E3;
    border:0;
    border-radius:0;
    color:#fff!important;
}
#helpnav{
    margin-bottom:0!important;
}
.navbar-brand img{
    width:110px;
}
#navbar li a{
    color:#fff;
    border-top:4px solid transparent;
    transition:border 0.2s ease-in-out;
}
#navbar li a:hover, #navbar li a.active{
    border-top:4px solid #fff;
}
.jumbotron{
    margin-bottom:0;
    padding-bottom:2em;
}
.jumbotron .col-md-8, .jumbotron .col-md-4, 
.jumbotron p{
    padding:0;
}
.jumbotron p{
    font-size:1.1em;
}
.jumbotron .guide-lead{
    border:1px solid #fff;
    border-radius:4px;
    padding:0.6em 1.2em;
}
.jumbotron .guide-lead a{
    color:#fff;
    text-decoration:none!important;
    border-bottom:1px dotted #fff;
}
h4 span.glyphicon{
    color:#fff!important;
    font-size:1em!important;
    position:relative;
    top:5px;
}
h5{
    font-weight:bold;
}
.link-container{
    margin-bottom:1em;
}
.content {
    padding-bottom: 3em;
}

.search-box{
    margin-bottom: 1em;
    margin-top: 1em;
}

.search-box form {
    border: 2px solid #bbb;
    border-radius: 3px;
    padding: 0.6em;
}

.search-box input[type=text]{
    border-radius:0;
    border: none;
    box-shadow: none;
}
.search-box button{
    background:transparent!important;
    border:0;
    color: #bbb;
}
.search-text{
    padding:0.5em;
}
.search-box .s-pad, .search-box .s-pad{
    padding-top:1em;
}
.s-divide{
    text-align:right;
}
.search-box a{
    text-decoration:underline;
}

#ask-the-team-container {
    text-align: right;
    padding-right: 0;
}

h4.link-header{
    border-bottom:1px solid #ddd;
    margin:1em;
    padding:0 0 0.5em;
}
.email-form, .guides-container{
    border-top:1px solid #ddd;
    margin-top:2em;
    padding-top:2em;
}
.email-form button{
    background:#CFCFCF;
}

.sidenav{
    font:13px Helvetica!important;
}
.sidenav ul li ul li{
    padding-bottom:0.6em;
}

/*posts*/
.post-area h1, .post-area h2, .post-area h3, .post-area h4{
    margin-top:1em!important;
}

/*qa-section*/
.qa-nav{
    background:#eee;
    border-radius:4px;
    margin:0 2em;
    padding:0.5em 1em;
}

/*guides*/
.guide-box{
    margin:1em;
    padding:0;
    text-align:center;
    width:29%;
}
.guide-nav{
    background:#eee;
    border-radius:4px;
    padding:0.5em 1em;
}
.guide-box a{
    background:#ddd;
    border-radius:5px!important;
    color:#4c4c4c;
    display:block;
    padding:2em 1em;
    text-decoration:none;
}
.guide-box a:hover{
    background:#ccc;
}
.guide-box .glyphicon{
    color:#555;
    font-size:6em;
}
.guide-box h5{
    margin-bottom:0.2em;
}
.guide-box h5 + span{
    font-size:0.8em;
}
.guide-title{
    padding-bottom:0.4em;
}
.guide-title span.glyphicon{
    color:#777;
    font-size:5em;
    line-height:1em;
    position:relative;
    top:-10px;
}

/*qa-view*/
.qa-header{
    margin:0;
}
.qa-row{
    margin-top:4em;
}

footer{
    margin-top:2em;
}
